body {
    overflow-x: hidden;
}

#sidebar {
    width: 250px;
    transition: all 0.3s;
}

#sidebar.collapsed {
    width: 80px;
}

#sidebar .nav-link span {
    display: inline;
    transition: opacity 0.3s;
}

#sidebar.collapsed .nav-link span {
    opacity: 0;
    visibility: hidden;
}

/* #main-content {
    margin-left: 250px;
    transition: margin-left 0.3s;
} */

#sidebar.collapsed~#main-content {
    margin-left: 80px;
}

#product-container {
    width: 80%;
}

#order-container {
    width: 80%;
}

.table > tbody > tr.status-na_fila > td {
    background-color: rgb(237, 93, 93) !important;
}

.table > tbody > tr.status-preparando > td {
    background-color: rgb(240, 235, 76) !important;
}

.table > tbody > tr.status-pronto > td {
    background-color: rgb(93, 189, 93) !important;
}